* {
  padding: 0;
  margin: 0; }

#index .nav, #contacto .nav, #trabajo .nav, #galeria .nav {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(0deg, #1e7cb5 33%, #0a1c26 100%); }

#index .header, #galeria .header {
  grid-area: header;
  background-color: #1e7cb5; }

#index .link, #contacto .link, #trabajo .link, #galeria .link {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin-top: 2rem; }

#index .link i, #contacto .link i, #trabajo .link i, #galeria .link i {
  color: white; }

#index .img, #contacto .img, #trabajo .img, #galeria .img {
  border: solid 1px black;
  max-width: 200px;
  margin: 10px;
  border-radius: 100px; }

#index .menu2, #galeria .menu2 {
  text-decoration: none;
  border-radius: 15px;
  margin: 5px;
  padding: 1rem;
  color: black; }

#index .jordan, #galeria .jordan {
  max-width: 250px;
  border: 1px solid white; }

#index .menu, #contacto .menu, #trabajo .menu, #galeria .menu {
  text-decoration: none;
  border-radius: 15px;
  color: white; }

#index .barra, #galeria .barra {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px solid black;
  justify-content: space-evenly; }

#index #caja-talles, #galeria #caja-talles {
  margin-top: 50px;
  width: 100px;
  height: 40px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 30px; }

#trabajo .contacto {
  display: flex;
  justify-content: space-evenly; }

#contacto .h1, #trabajo .contacto .h1 {
  font-size: 2.5rem;
  border-bottom: solid 5px black;
  display: flex;
  color: white; }

#trabajo .video {
  margin-top: 4rem;
  display: flex;
  border: white solid 2px;
  margin-left: 170px; }

#tv .video {
  margin-top: 4rem;
  display: flex;
  border: white solid 2px; }

/* MEDIA */
@media (max-width: 425px) {
  #index .barra {
    display: flex;
    flex-direction: column; }
  #index .seccion1 {
    flex-wrap: wrap; }
  #index .card {
    width: 100px;
    margin-top: 3px; }
  #index .link {
    display: inline-block; }
  #index li {
    margin: 1rem; }
  #index .column.subscribe {
    display: none; }
  #index .column.links {
    display: none; } }

@media (max-width: 768px) {
  #index .card {
    width: 130px; } }

@media (max-width: 425px) {
  #trabajo .link {
    display: inline-block; }
  #trabajo li {
    margin: 1rem; }
  #trabajo .column.subscribe {
    display: none; }
  #trabajo .column.links {
    display: none; }
  #trabajo .video {
    max-width: 389px;
    max-height: 238px;
    margin-left: 8px; } }

@media (min-width: 768px) {
  #trabajo .video {
    max-width: 710px;
    max-height: 370px;
    margin-left: -2px; }
  #trabajo .footer input {
    max-width: 200px; } }

@media (max-width: 425px) {
  #galeria .barra {
    display: flex;
    flex-direction: column; }
  #galeria .seccion1 {
    flex-wrap: wrap; }
  #galeria .card {
    width: 100px;
    margin-top: 3px; }
  #galeria .link {
    display: inline-block; }
  #galeria li {
    margin: 1rem; }
  #galeria .column.subscribe {
    display: none; }
  #galeria .column.links {
    display: none; } }

@media (max-width: 768px) {
  #galeria .card {
    width: 130px; } }

@media (max-width: 425px) {
  #tv .link {
    display: flex;
    flex-direction: column; }
  #tv li {
    margin: 1rem; }
  #tv .column.subscribe {
    display: none; }
  #tv .column.links {
    display: none; }
  #tv .video {
    max-width: 360px;
    margin-left: 10px;
    max-height: 244px; }
  #tv .contacto h1 {
    max-width: 250px; }
  #tv .contenedor1 {
    display: flex;
    flex-direction: column; }
  #tv .nombre {
    display: none; } }

@media (max-width: 768px) {
  #tv .contenedor1 {
    display: flex;
    flex-direction: column;
    margin: 15px; }
  #tv .footer input {
    max-width: 180px; } }

@media (min-width: 1024px) {
  #tv .container1 {
    padding: 30px; }
  #tv .footer {
    margin-top: -15px; } }

@media (max-width: 320px) {
  #contacto .link {
    display: flex;
    flex-direction: column; }
  #contacto .header {
    height: 145vh; }
  #contacto li {
    margin: 1rem; }
  #contacto .column.subscribe {
    display: none; }
  #contacto .column.links {
    display: none; }
  #contacto #row {
    display: none;
    flex-wrap: wrap; }
  #contacto #row .maps {
    max-width: 370px;
    margin-top: 5rem;
    margin-left: -6px; }
  #contacto #row div input {
    max-width: 260px; }
  #contacto #row div textarea {
    max-width: 260px;
    height: 100px; }
  #contacto #row .mapa {
    max-width: 300px;
    max-height: 230px; }
  #contacto #row .primario {
    max-width: 100%; } }

@media (max-width: 475px) {
  #contacto .link {
    display: flex;
    flex-direction: column; }
  #contacto .header {
    height: 140vh; }
  #contacto .redes i {
    font-size: 30px; }
  #contacto li {
    margin: 1rem; }
  #contacto .column.subscribe {
    display: none; }
  #contacto .column.links {
    display: none; }
  #contacto #row {
    display: none;
    flex-wrap: wrap; }
  #contacto #row .maps {
    max-width: 402px;
    margin-top: 5rem;
    margin-left: -6px;
    max-height: 292px; }
  #contacto #row div input {
    max-width: 260px; }
  #contacto #row div textarea {
    max-width: 260px;
    height: 100px; }
  #contacto #row .mapa {
    max-width: 370px;
    max-height: 240px; }
  #contacto #row .primario {
    max-width: 100%; } }

@media (min-width: 768px) {
  #contacto #row {
    display: none;
    flex-wrap: wrap; }
  #contacto #row .maps {
    max-width: 370px;
    margin-left: -6px;
    margin-bottom: 5rem; }
  #contacto #row div input {
    max-width: 260px; }
  #contacto #row div textarea {
    max-width: 260px;
    height: 100px; }
  #contacto #row .mapa {
    max-width: 398px;
    max-height: 279px; }
  #contacto #row .primario {
    max-width: 100%; }
  #contacto .footer input {
    max-width: 170px; } }

@media (min-width: 1024px) {
  #contacto #row .maps {
    max-width: 647px;
    margin-left: -6px;
    margin-bottom: 5rem; }
  #contacto #row .mapa {
    max-width: 800px;
    max-height: 400px; }
  #contacto #row div input {
    max-width: 350px; }
  #contacto #row div textarea {
    max-width: 350px;
    height: 150px; } }

#index .seccion1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem; }

#index .card {
  max-width: 200px; }

#index .fa-solid {
  margin-left: 5px; }

#index .barra {
  justify-content: space-around; }

#index .menu {
  margin: 5px;
  padding: 1rem; }
  #index .menu:hover {
    background-color: white;
    transition: 0.3s;
    color: black; }

#index .menu2 {
  margin: 5px;
  padding: 1rem; }
  #index .menu2:hover {
    background-color: black;
    transition: 0.3s;
    color: white; }

#index #boton-card {
  background-color: black;
  color: white;
  border: none; }
  #index #boton-card:hover {
    background-color: white;
    transition: 0.1s;
    color: black; }

#index div .redes i {
  font-size: 40px; }

.footer {
  display: flex;
  align-items: center;
  grid-area: footer;
  background-color: #121315;
  font-size: 16px;
  padding: 1rem 1rem; }
  .footer i {
    padding: 5px;
    font-size: 3rem;
    color: white; }

.row.primario {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  align-items: stretch; }

.column {
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  min-height: 15em;
  color: white; }

h3 {
  text-align: left;
  font-size: 1.4em;
  white-space: nowrap; }

ul {
  list-style: none; }

input {
  font-size: 1em;
  padding: 1em;
  border-radius: 50px;
  margin-bottom: 5px; }

button {
  border-radius: 50px;
  height: 55px;
  width: 130px;
  background-color: #1884a5;
  color: #ffffff; }

div.redes {
  display: flex;
  justify-content: space-around;
  font-size: 2.4em;
  flex-direction: row;
  margin-top: 0.5em; }
  div.redes i {
    color: #bac6d9; }

.copyright {
  padding: 0.3em 1em;
  background-color: #25262e; }
  .copyright p {
    font-size: 0.9em;
    text-align: right; }

#tv .grilla {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr 1fr 1fr;
  grid-template-areas: "nav nav nav nav" "header header header header" "header header header header" "header header header header" "footer footer footer footer"; }

#tv #accordionBio {
  width: 900px;
  padding: 2rem; }

#tv .biografia {
  font-size: 2.5rem;
  border-bottom: solid 5px black;
  display: flex;
  color: white;
  justify-content: space-around; }

#tv .contacto {
  display: flex;
  justify-content: space-evenly; }

#tv .nav {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(0deg, #1e7cb5 33%, #0a1c26 100%); }

#tv .img {
  border: solid 1px black;
  max-width: 200px;
  margin: 10px;
  border-radius: 100px; }

#tv .menu {
  text-decoration: none;
  border-radius: 15px;
  margin: 5px;
  padding: 1rem;
  color: white; }
  #tv .menu:hover {
    background-color: white;
    transition: 0.3s;
    color: black; }

#tv .link {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin-top: 2rem; }
  #tv .link i {
    color: white; }

#tv .header {
  grid-area: header;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/roma.jpg); }

#tv .contenedor1 {
  display: flex;
  align-items: center;
  margin: 15px; }

#tv .imagen {
  border: solid 3px white;
  width: 250px;
  margin: 1rem;
  margin-top: 4rem; }

#tv .h1 {
  font-size: 15px; }

#tv .nombre {
  margin-left: 2rem;
  color: white; }

#contacto .header {
  grid-area: header;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/contacto.jpg); }

#contacto .menu {
  margin: 5px;
  padding: 1rem; }
  #contacto .menu:hover {
    background-color: white;
    transition: 0.3s;
    color: black; }

#contacto .form-label {
  color: white;
  margin-bottom: 0.5rem; }

#contacto #row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

#contacto #exampleFormControlInput1 {
  display: block;
  width: 400px;
  height: 50px; }

#contacto #exampleFormControlInput2 {
  display: block;
  width: 400px;
  height: 50px; }

#contacto #textArea {
  border-radius: 10px;
  height: 200px;
  width: 400px;
  resize: none; }

#contacto .maps {
  margin-left: 4rem;
  border: solid 5px black; }

#contacto .contacto {
  display: flex;
  justify-content: space-evenly; }

#contacto .mapa {
  width: 600px;
  height: 455px; }

#trabajo .headerMitrabajo {
  display: flex;
  flex-direction: row;
  grid-area: header;
  background-color: #1e7cb5; }

#trabajo .menu {
  margin: 5px;
  padding: 1rem; }
  #trabajo .menu:hover {
    background-color: white;
    transition: 0.3s;
    color: black; }

#trabajo .header {
  grid-area: header;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/fondo.jpg); }

#trabajo .container1 {
  display: flex;
  flex-direction: column;
  align-items: center; }

#trabajo .cajaVideo {
  display: flex;
  justify-content: center;
  color: white; }

#trabajo .video {
  width: 800px;
  height: 420px; }

#trabajo .parrafo {
  font-size: 20px;
  color: white; }

#trabajo .conteiner {
  padding: 50px; }

#galeria .seccion1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem; }

#galeria .card {
  max-width: 200px; }

#galeria .menu {
  margin: 5px;
  padding: 1rem; }
  #galeria .menu:hover {
    background-color: white;
    transition: 0.3s;
    color: black; }

#galeria .contacto {
  display: flex;
  justify-content: space-evenly; }

#galeria .menu2:hover {
  background-color: black;
  transition: 0.3s;
  color: white; }

#galeria #boton-card {
  background-color: black;
  color: white;
  border: none; }
  #galeria #boton-card:hover {
    background-color: white;
    transition: 0.1s;
    color: black; }

#galeria div .redes i {
  font-size: 40px; }
