/* MEDIA */
#index {
    @media (max-width:425px) {
        .barra {
            display: flex;
            flex-direction: column;
        }

        .seccion1 {
            display: flex;
            flex-direction: column;
        }

        .card {
            margin: 10px;
        }

        .link {
            display: inline-block;
        }

        li {
            margin: 1rem;
        }

        .column.subscribe {
            display: none;
        }

        .column.links {
            display: none;
        }

    }

    @media (min-width:768px) {
        .card{
            width: 130px;
        }

    
    }

    @media (max-width:1440px) {}

    @media (min-width:2560px) {}
}


#trabajo {
    @media (max-width:425px) {}

    @media (max-width:1024px) {}

    @media (width:1366px) {}

    @media (max-width:1440px) {}

    @media (min-width:2560px) {}

}

#galeria {
    @media (max-width:425px) {}

    @media (max-width:436px) {}

    @media (max-width:1024px) {}

    @media (max-width:1440px) {}

    @media (min-width:2560px) {}

}

#biografia {
    @media(max-width:1440px) {}
}