/* MEDIA */
#index {
    @media (max-width:425px) {
        .barra {
            display: flex;
            flex-direction: column;
        }

        .seccion1 {
            flex-wrap: wrap;
        }

        .card {
            width: 100px;
            margin-top: 3px;
        }

        .link {
            display: inline-block;
        }

        li {
            margin: 1rem;
        }

        .column.subscribe {
            display: none;
        }

        .column.links {
            display: none;
        }

    }

    @media (max-width:768px) {
        .card {
            width: 130px;
        }
    }
}

#trabajo {
    @media (max-width:425px) {
        .link {
            display: inline-block;
        }

        li {
            margin: 1rem;
        }

        .column.subscribe {
            display: none;
        }

        .column.links {
            display: none;
        }

        .video {
            max-width: 300px;
            margin-left: -20px;
            max-height: 210px;
        }

        @media (max-width:1024px) {}

    }

    @media (min-width:768px) {
        .video {
            max-width: 710px;
            max-height: 370px;
            margin-left: -2px;
        }

        .footer input {
            max-width: 200px;
        }
    }
}

#galeria {
    @media (max-width:425px) {
        .barra {
            display: flex;
            flex-direction: column;
        }

        .seccion1 {
            flex-wrap: wrap;
        }

        .card {
            width: 100px;
            margin-top: 3px;
        }

        .link {
            display: inline-block;
        }

        li {
            margin: 1rem;
        }

        .column.subscribe {
            display: none;
        }

        .column.links {
            display: none;
        }

    }

    @media (max-width:768px) {
        .card {
            width: 130px;
        }
    }
}

#biografia {
    @media (max-width:425px) {
        .link {
            display: flex;
            flex-direction: column;
        }

        li {
            margin: 1rem;
        }

        .column.subscribe {
            display: none;
        }

        .column.links {
            display: none;
        }

        .video {
            max-width: 250px;
            margin-left: -20px;
            max-height: 170px;
        }

        .contacto h1 {
            max-width: 250px;
        }

        .contenedor1 {
            display: flex;
            flex-direction: column;
        }

        .nombre {
            display: none;
        }
    }

    @media (max-width:768px) {
        .contenedor1 {
            display: flex;
            flex-direction: column;
            margin: 15px;
        }

        .footer input {
            max-width: 180px;
        }

    }

    @media (min-width:1024px) {
        .container1 {
            padding: 30px;
        }

        .footer {
            margin-top: -15px;
        }
    }
}

#contacto {
    @media (max-width:425px) {
        .link {
            display: flex;
            flex-direction: column;
        }

        li {
            margin: 1rem;
        }

        .column.subscribe {
            display: none;
        }

        .column.links {
            display: none;
        }
    }
}