#galeria {
    .nav {
        @extend %nav;
    }

    .img {
        @extend %img;
    }

    .seccion1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

    .card {
        max-width: 200px;
    }

    .menu {
        @extend %menu;
        @include menus (5px, 1rem);

        &:hover {
            background-color: white;
            transition: 0.3s;
            color: black;
        }
    }

    .link {
        @extend %link;

        i {
            @extend %i;
        }

    }

    .header {
        @extend %header;
    }

    .contacto {
        display: flex;
        justify-content: space-evenly;
    }

    #caja-talles {
        @extend %caja-talles;
    }

    .menu2 {
        @extend %menu2;

        &:hover {
            background-color: black;
            transition: 0.3s;
            color: white;
        }
    }

    #boton-card {
        background-color: black;
        color: white;
        border: none;

        &:hover {
            background-color: white;
            transition: 0.1s;
            color: black;
        }
    }

    .barra {
        @extend %barra;
    }

    #caja-talles {
        @extend %caja-talles;
    }


    .jordan {
        @extend %jordan;
    }

    div .redes i {
        font-size: 40px;
    }
}